#resume {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: #ebebeb;
}

h2 {
  color: black;
  font-size: 20px !important;
  text-transform: uppercase;
  width: 30%;
}

.education-header {
  display: flex;
}

.education-header .education-list {
  width: 70%;
}

.education-header .education-list h3 {
  color: #575353;
}

.WorkExperience {
  display: flex;
}

.WorkExperience .experience-item {
  width: 70%;
}

.WorkExperience .experience-item h3 {
  color: #575353;
}

.skills {
  display: flex;
}

.skills .text-muted{
  width: 70%;
}

.skills h2 {
  font-size: 28px;
  text-transform: uppercase;
}

.skills {
  margin-bottom: 15px;
}

.skills span {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.skill {
  margin-bottom: 15px;
}

.progress {
  height: 20px;
  background-color: #d4d4d4;
  border-radius: 20px;
}

.progress-bar {
  border-radius: 20px;
}

.bg-warning {
  background-color: #fb923c !important;
}

.skills h5 {
  color: #474646;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.skills span {
  color: #575353;
  font-size: 12px;
}

.skills .skill-text {
  color: #484646;
  font-size: 14px;
}

.education-header,
.WorkExperience {
  border-bottom: 2px solid #dddbd9;
}

.work-header h2 {
  position: relative;
  padding-bottom: 10px;
}

.work-header h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: orange;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  #resume {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .education-header,
  .WorkExperience,
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .education-header h2,
  .WorkExperience h2,
  .skills h2 {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, orange, #dddbd9, #575353) 1;
  }
  .education-header .education-list {
    width: 100%;
    padding: 20px;
  }
  .WorkExperience .experience-item {
    width: 100%;
    padding: 20px;
  }
  .skills .text-muted {
    width: 100%;
    padding: 20px;
  }
  .skills {
    margin-bottom: 0 !important;
  }
  #resume .resume-section {
    padding-bottom: 0 !important;
  }
}